<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAD to INR</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
        
        <div class="img card">
            <img src="/cad.png" alt="cad">
        </div>
        
        <div class="card">
            <h1> Today's rate for 1 CAD is:</h1>
            <h2>
            <%= rate %> INR
            </h2>
        </div>
        
        <div class="img card">
            <img src="/inr.png" alt="inr">
        </div>

    </div>
</body>
</html>